$primary-col:#EF13B2;

.outlined-btn{
   font-family:NeueMontreal-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   background-color: white;
   color: $primary-col;
   border: 2px solid $primary-col;
   font-size: 1rem;
   border-radius: .5rem;
   padding: 1rem 2rem;
   justify-content: center;
   align-items: center;
   display: flex;
}

.container{
   padding:1rem 2rem;
}
body{
   width: 100%;
	background-color: #eeeeee;
	color: rgb(24, 24, 24);
   height: 100%;
   margin: 0;
   padding: 0;
}
.dark-theme{
	background-color: black;
	color: white;
}

.light-theme{
	background-color: #876464;
	color: black;
}

.color-pink{
	filter: brightness(0) saturate(100%) invert(24%) sepia(82%) saturate(6944%) hue-rotate(305deg) brightness(88%) contrast(114%);
}

.color-green{
   filter: brightness(0) saturate(100%) invert(47%) sepia(95%) saturate(360%) hue-rotate(84deg) brightness(95%) contrast(84%);
}

.color-violet{
   filter: brightness(0) saturate(100%) invert(12%) sepia(31%) saturate(5498%) hue-rotate(228deg) brightness(102%) contrast(99%);
}

.color-blue{
   filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(3715%) hue-rotate(237deg) brightness(102%) contrast(142%);
}