$primary-col:#EF13B2;

header{
  width: 100%;	
  height: fit-content;
  display: flex;
  position: sticky;
  top:1rem;
  z-index: 888;
  padding: 0 2rem;
  border-radius: 20px;
//   backdrop-filter: blur(10px);
//   background-color: #dededea9;
  align-items: center;
  justify-content: space-between;
	
   h1{
	font-size: 2.3rem;
   transition: transform .3s ease;
    &:hover{
     transform: rotate(-20deg) 
   }
   }
   .header-image{
		width: 60px;
		height: 60px;
		object-fit: contain;
		border-radius: 20px;
		border: 3px solid $primary-col;
      transition: all 1s ease-in-out;
	}
}