$primary-col:#EF13B2;

header{
  width: 98%;	
  height: fit-content;
  display: flex;
  position: sticky;
  top:1rem;
  z-index: 888;
  padding: 0 2rem;
  font-size: 2.5rem;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ease;

  @keyframes headerAnim {
    from{
      justify-content: center;
    }
    to{
      justify-content: space-between;
    }
  }

  .left-col{
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
	  h4{
      font-size: 1.5rem;
      color: $primary-col;
      margin-left: 1.5rem;
      opacity: 0;

      @keyframes slide-in {
        from{
          opacity: 0;
          margin-left: 0.8rem;
        }
        to{
          opacity: 1;
          margin-left: 1.5rem;
        }
      }
      @keyframes slide-out {
        from{
          opacity: 1;
          margin-left: 1.5rem;
        }
        to{
          opacity: 0;
          margin-left: 0.8rem;
        }
      }
    }
    h1{
	  font-size: 2.3rem;
    transition: transform .3s ease;
    &:hover{
     transform: rotate(-20deg) 
    }
   }
   .header-image{
		width: 60px;
		height: 60px;
		object-fit: contain;
		border-radius: 50%;
		border: 3px solid $primary-col;
      transition: all 1s ease-in-out;
	}
}

.setHeaderBg{
  backdrop-filter: blur(10px);
  background-color: #dededea9;
}