.contact-page{
	
	h1{
		margin: 0;
		font-size: 8rem;
		transition: font-size 0.3s ease;
	}

	.contact-page-form{
		// height: 50rem;
		display: block;
		width: fit-content;
        margin-top: 2rem;

	  .contact-tiles-link{
		width: fit-content;
        display: flex;
		justify-content: center;
		align-items: center;
		margin-left: .2rem;
		margin-top: .5rem;

		img{
			width: 30px;
			height: 30px;
		}

		p{
			width: fit-content;
			margin-left: 1rem;
		}
	  }	
	}
}

@media only screen and (max-width:800px) {
	.contact-page{
	
		h1{
			margin: 0;
			font-size: 6rem;
			transition: font-size 0.3s ease;
		}
	}	
}

@media only screen and (max-width:550px) {
	.contact-page{
	
		h1{
			margin: 0;
			font-size: 4rem;
			transition: font-size 0.3s ease;
		}
	}	
}