$primary-col:#EF13B2;


.homepage{
	display: block;
    margin-top: 1.3rem;
	position: relative;
	width: 100%;
	justify-content: center;
	align-items: center;
	// padding-bottom: 3rem;
	h1{
		margin: 0;
		padding: 5rem;
		font-family:santa, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		// margin-left: -27rem;
		// margin-bottom: 3rem;
		margin-top: 1rem;
		margin-left: -5rem;
		margin-bottom: -7rem;
		font-weight: 300;
		font-size: 10rem;
		// margin-left: 2rem;
		z-index: 2;
	}
	.head-anim{
		transition: all 0.5s;
        -webkit-text-stroke: 4px #3d3d3d;
        font-variation-settings: "wght" 900, "ital" 1;
        font-size: 10rem;
        text-align: left;
        color: transparent;
        font-family: "Meta", sans-serif;
        text-shadow: 10px 10px 0px #07bccc,
          15px 15px 0px #e601c0,
          20px 20px 0px #e9019a,
          25px 25px 0px #f40468,
          45px 45px 10px #482896;
          cursor: pointer;

		  &:hover {
			font-variation-settings: "wght" 100, "ital" 0;
			text-shadow: none;
		  }
     }
     
	 .head-anim1{
		background: url('/public/assets/scoopsnsmiles2.png');
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		&:hover{
			transform: sc;
		}
	 }
	.homepage-head{
		background: linear-gradient(
        to right,
        #7953cd 20%,
        #4BA74B 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
	}
	@keyframes textShine {
		0% {
			background-position: 0% 50%;
		}
		100% {
			background-position: 100% 50%;
		}
	}
	p{
	   width: 780px;	
	   font-size: .9rem;
	   font-family:NeueMontreal-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	   color: #8b8b8b;
	}
   .bottom-container{
	display: flex;
	width: 100%;
	margin-top: 3rem;
	align-items: baseline;
	justify-content: space-between;
	.homepage-social-logos{
		display: flex;
        // margin-top: 6rem;
		img{
			width: 50px;
			height: 50px;
			margin-right: 3rem;
			transition: all 1s ease-in-out;
			// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%)
		}
	}

	.bottom-right-hlinks{
		width: fit-content;
		display: flex;
		color: red;
		align-items: baseline;
		margin-bottom: 0;
		margin-right: 2rem;
		p{
			width: fit-content;
			color: $primary-col;
			margin-left: 2rem;
			margin-bottom: 0;
			bottom: 0;
			font-size: 1.2rem;
		
		}
	}
     a{
		text-decoration: none;
	 }
	.homepage-download-btn{
		position: absolute;
		right: 0;
		bottom: 0;
		margin: auto 0 0rem auto;
	
		.download-btn-icon{
		transition: all 1s ease-in-out;
		// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%);
		width: 20px;
		height: 20px;
		margin:auto auto auto 1rem
	}
  }
  }
}

@media only screen and (max-width:875px){
	.homepage{
		display: block;
		margin-top: 1.3rem;
		position: relative;
		width: 100%;
		justify-content: center;
		align-items: center;
		// padding-bottom: 3rem;
		h1{
			margin: 0;
			padding: 5rem;
			font-family:santa, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
			// margin-left: -27rem;
			// margin-bottom: 3rem;
			margin-top: 1rem;
			margin-left: -5rem;
			margin-bottom: -7rem;
			font-weight: 300;
			font-size: 10rem;
			// margin-left: 2rem;
			z-index: 2;
		}
	
		p{
		   width: 500px;	
		   font-size: .9rem;
		   font-family:NeueMontreal-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		   color: #8b8b8b;
		}
	   .bottom-container{
		display: flex;
		width: 100%;
		margin-top: 3rem;
		align-items: baseline;
		justify-content: space-between;
		.homepage-social-logos{
			display: flex;
			// margin-top: 6rem;
			img{
				width: 50px;
				height: 50px;
				margin-right: 3rem;
				transition: all 1s ease-in-out;
				// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%)
			}
		}
	
		.bottom-right-hlinks{
			width: fit-content;
			display: flex;
			color: red;
			align-items: baseline;
			margin-bottom: 0;
			margin-right: 2rem;
			p{
				width: fit-content;
				color: $primary-col;
				margin-left: 2rem;
				margin-bottom: 0;
				bottom: 0;
				font-size: 1.2rem;
			
			}
		}
		 a{
			text-decoration: none;
		 }
		.homepage-download-btn{
			position: absolute;
			right: 0;
			bottom: 0;
			margin: auto 0 0rem auto;
		
			.download-btn-icon{
			transition: all 1s ease-in-out;
			// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%);
			width: 20px;
			height: 20px;
			margin:auto auto auto 1rem
		}
	  }
	  }
	}
}

@media only screen and (max-width:747px){
	.homepage{
		display: block;
		margin-top: 1.3rem;
		position: relative;
		width: 100%;
		justify-content: center;
		align-items: center;
		// padding-bottom: 3rem;
		h1{
			margin: 0;
			padding: 5rem;
			font-family:santa, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
			// margin-left: -27rem;
			// margin-bottom: 3rem;
			margin-top: 1rem;
			margin-left: -5rem;
			margin-bottom: -6rem;
			font-weight: 300;
			font-size: 7rem;
			// margin-left: 2rem;
			z-index: 2;
		}
	
		p{
		   width: 370px;	
		   font-size: .9rem;
		   font-family:NeueMontreal-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		   color: #8b8b8b;
		}
	   .bottom-container{
		display: flex;
		width: 100%;
		margin-top: 3rem;
		align-items: baseline;
		justify-content: space-between;
		.homepage-social-logos{
			display: flex;
			// margin-top: 6rem;
			img{
				width: 50px;
				height: 50px;
				margin-right: 3rem;
				transition: all 1s ease-in-out;
				// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%)
			}
		}
	
		.bottom-right-hlinks{
			width: fit-content;
			display: flex;
			color: red;
			align-items: baseline;
			margin-bottom: 0;
			margin-right: 2rem;
			p{
				width: fit-content;
				color: $primary-col;
				margin-left: 2rem;
				margin-bottom: 0;
				bottom: 0;
				font-size: 1.2rem;
			
			}
		}
		 a{
			text-decoration: none;
		 }
		.homepage-download-btn{
			position: absolute;
			right: 0;
			bottom: 0;
			margin: auto 0 0rem auto;
		
			.download-btn-icon{
			transition: all 1s ease-in-out;
			// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%);
			width: 20px;
			height: 20px;
			margin:auto auto auto 1rem
		}
	  }
	  }
	}
}

@media only screen and (max-width:520px){
	.homepage{
		display: block;
		margin-top: 1.3rem;
		position: relative;
		width: 100%;
		justify-content: center;
		align-items: center;
		// padding-bottom: 3rem;
		h1{
			margin: 0;
			padding: 5rem;
			font-family:santa, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
			// margin-left: -27rem;
			// margin-bottom: 3rem;
			margin-top: 1rem;
			margin-left: -5rem;
			margin-bottom: -6rem;
			font-weight: 300;
			font-size: 5rem;
			// margin-left: 2rem;
			z-index: 2;
		}
	
		p{
		   width: 300px;	
		   font-size: .7rem;
		   font-family:NeueMontreal-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		   color: #8b8b8b;
		}
	   .bottom-container{
		display: block;
		width: 100%;
		margin-top: 3rem;
		align-items: baseline;
		justify-content: space-between;
		.homepage-social-logos{
			display: flex;
			// margin-top: 6rem;
			img{
				width: 30px;
				height: 30px;
				margin-right: 3rem;
				transition: all 1s ease-in-out;
				// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%)
			}
		}
	
		.bottom-right-hlinks{
			width: fit-content;
			display: flex;
			color: red;
			align-items: baseline;
			margin-bottom: 0;
			margin-right: 2rem;
			margin-left: .2rem;
			p{
				width: fit-content;
				color: $primary-col;
				margin-left: 0rem;
				margin-right: 1rem;
				margin-bottom: 0;
				bottom: 0;
				font-size: 1.2rem;
			
			}
		}
		 a{
			text-decoration: none;
		 }
		.homepage-download-btn{
			position: absolute;
			right: 0;
			bottom: 0;
			margin: auto 0 0rem auto;
		
			.download-btn-icon{
			transition: all 1s ease-in-out;
			// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%);
			width: 20px;
			height: 20px;
			margin:auto auto auto 1rem
		}
	  }
	  }
	}
}

@media only screen and (max-width:450px){
	.homepage{
		display: block;
		margin-top: 1.3rem;
		position: relative;
		width: 100%;
		justify-content: center;
		align-items: center;
		// padding-bottom: 3rem;
		h1{
			margin: 0;
			padding: 5rem;
			font-family:santa, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
			// margin-left: -27rem;
			// margin-bottom: 3rem;
			margin-top: 1rem;
			margin-left: -5rem;
			margin-bottom: -5rem;
			font-weight: 300;
			font-size: 4rem;
			// margin-left: 2rem;
			z-index: 2;
		}
	
		p{
		   width: 250px;	
		   font-size: .5rem;
		   font-family:NeueMontreal-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		   color: #8b8b8b;
		}
	   .bottom-container{
		display: block;
		width: 100%;
		margin-top: 3rem;
		align-items: baseline;
		justify-content: space-between;
		.homepage-social-logos{
			display: flex;
			// margin-top: 6rem;
			img{
				width: 30px;
				height: 30px;
				margin-right: 3rem;
				transition: all 1s ease-in-out;
				// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%)
			}
		}
	
		.bottom-right-hlinks{
			width: fit-content;
			display: flex;
			color: red;
			align-items: baseline;
			margin-bottom: 0;
			margin-right: 2rem;
			margin-left: .2rem;
			p{
				width: fit-content;
				color: $primary-col;
				margin-left: 0rem;
				margin-right: 1rem;
				margin-bottom: 0;
				bottom: 0;
				font-size: 1.2rem;
			
			}
		}
		 a{
			text-decoration: none;
		 }
		.homepage-download-btn{
			position: absolute;
			right: 0;
			bottom: 0;
			margin: auto 0 0rem auto;
		
			.download-btn-icon{
			transition: all 1s ease-in-out;
			// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%);
			width: 20px;
			height: 20px;
			margin:auto auto auto 1rem
		}
	  }
	  }
	}
}

@media only screen and (max-width:390px){
	.homepage{
		display: block;
		margin-top: 1.3rem;
		position: relative;
		width: 100%;
		justify-content: center;
		align-items: center;
		// padding-bottom: 3rem;
		h1{
			margin: 0;
			padding: 5rem;
			font-family:santa, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
			// margin-left: -27rem;
			// margin-bottom: 3rem;
			margin-top: 1rem;
			margin-left: -5rem;
			margin-bottom: -5rem;
			font-weight: 300;
			font-size: 4rem;
			// margin-left: 2rem;
			z-index: 2;
		}
	
		p{
		   width: 200px;	
		   font-size: .5rem;
		   font-family:NeueMontreal-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		   color: #8b8b8b;
		}
	   .bottom-container{
		display: block;
		width: 100%;
		margin-top: 3rem;
		align-items: baseline;
		justify-content: space-between;
		.homepage-social-logos{
			display: flex;
			// margin-top: 6rem;
			img{
				width: 30px;
				height: 30px;
				margin-right: 3rem;
				transition: all 1s ease-in-out;
				// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%)
			}
		}
	
		.bottom-right-hlinks{
			width: fit-content;
			display: flex;
			color: red;
			align-items: baseline;
			margin-bottom: 0;
			margin-right: 2rem;
			margin-left: .2rem;
			p{
				width: fit-content;
				color: $primary-col;
				margin-left: 0rem;
				margin-right: 1rem;
				margin-bottom: 0;
				bottom: 0;
				font-size: 1.2rem;
			
			}
		}
		 a{
			text-decoration: none;
		 }
		.homepage-download-btn{
			position: absolute;
			right: 0;
			bottom: 0;
			margin: auto 0 0rem auto;
		
			.download-btn-icon{
			transition: all 1s ease-in-out;
			// filter:invert(29%) sepia(100%) saturate(2779%) hue-rotate(295deg) brightness(68%) contrast(133%);
			width: 20px;
			height: 20px;
			margin:auto auto auto 1rem
		}
	  }
	  }
	}
}