.work-page-item-card{
     display: flex;
     width: 100%;
	 margin-top: 3rem;
	 flex-direction: row;

	 .item-card-image-section{
	   width: 50%;
	   height: fit-content;	
	   display: block;
	   position: relative;
	  img{
		position: absolute;
        width: 60%;
	  }	

	  .image2{
         top:6rem;
		 left: 7rem;
	  }
	  .image3{
		top:10rem;
		left:-2rem;
	  }

	}

	.item-card-details-section{
		h2{
			font-size: 2rem;
		}
		p{
			color: rgb(127, 127, 127);
		}
	  }

	.stack-icons{
		display: table;
		margin-top: 2rem;
		margin-left: -1rem;
		img{
			display: inline-block;
			width: 80px;
			height: 80px;
			margin: 0;
			margin-top: 1rem;
			margin-right: 30px;
		}
	}  
	.action-btns{
		display: flex;
      
		.action-btn-tab{
		display: flex;
		margin-right: 2rem;
		h3{
			color: black;
			font: .5rem;
			margin-right: .5rem;
		}
		img{
			width: 30px;
            transition: transform .3s ease;
			&:hover{
				transform: rotate(-45deg);
			}
		}
	  }
	}
}