// @import '/src/app/styles/globalStyles.scss';

.navbar-items{
	display: block;
	height: fit-content;
	list-style-type: none;

	li{
		font-family:NeueMontreal-Medium, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		font-size: 6rem;
		margin-bottom: 1rem;

		a{
			text-decoration: none;
			color: inherit;
		}
	}
}
