.hamburger{
	// display: flex;
	padding: 1rem;
	.hamburger-dot{
	  	width: 1.5em;
		height: 1.5em;
		opacity: 1;
		// margin-bottom: 1rem;
		background-color: black;
		border-radius: 50%;
		transition: all .5s ease-in-out;
	}
	.middle-dot{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width:600px) {
	.hamburger{
		// display: flex;
		padding: 1rem;
		.hamburger-dot{
			width: 1rem;
			height: 1rem;
			opacity: 1;
			// margin-bottom: 1rem;
			background-color: black;
			border-radius: 50%;
			transition: all .5s ease-in-out;
		}
		.middle-dot{
			margin-top: .8rem;
			margin-bottom: .8rem;
		}
	}
}