.hamburger{
	// display: flex;
	padding: 1rem;
	.hamburger-dot{
	  	width: 2em;
		height: 2em;
		opacity: 1;
		// margin-bottom: 1rem;
		background-color: black;
		border-radius: 50%;
		transition: all .5s ease-in-out;
	}
	.middle-dot{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}