.loading-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  overflow-y: none;
  top: 0%;
  top: 0;
  animation: slideDown 0.6s forwards ease-out;
  top: 0;
}
@keyframes slideDown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@keyframes slideUp {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
.loading-screen .loading-screen-image-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  place-items: center;
}
@keyframes zoom-in {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
.loading-screen .loading-screen-image-wrapper .vdeo {
  margin: 0;
  margin-top: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@keyframes slideDownImage {
  from {
    margin-top: 20%;
  }
  to {
    margin-top: 0;
  }
}
@keyframes slideUpImage {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10%;
  }
}
.loading-screen .loading-screen-image-wrapper .test {
  position: absolute;
  z-index: 99999;
}
.loading-screen .loading-screen-image-wrapper img {
  margin: auto;
  margin-top: 55%;
  margin-bottom: 0;
  width: 70%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  animation: slideDownImage 0.6s forwards ease-in;
}
@keyframes slideDownImage {
  from {
    margin-top: 55%;
  }
  to {
    margin-top: 0;
  }
}
@keyframes slideUpImage {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 55%;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.loading-screen .loading-screen-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 28, 28, 0.899);
}
.loading-screen .loading-screen-wrapper p {
  width: 500px;
  text-align: center;
  opacity: 0;
  transform: translateY(0rem);
  color: white;
  font-size: 1.3rem;
  font-family: NeueMontreal-Medium, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes textAnimSlideUpSlow {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-5rem);
  }
}
@keyframes textAnim {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes textAnimRemove {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 520px) {
  .loading-screen .loading-screen-image-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    place-items: center;
  }
  @keyframes zoom-in {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes zoom-out {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.8);
    }
  }
  .loading-screen .loading-screen-image-wrapper .vdeo {
    margin: 0;
    margin-top: 20%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  @keyframes slideDownImage {
    from {
      margin-top: 20%;
    }
    to {
      margin-top: 0;
    }
  }
  @keyframes slideUpImage {
    from {
      margin-top: 0;
    }
    to {
      margin-top: 10%;
    }
  }
  .loading-screen .loading-screen-image-wrapper .test {
    position: absolute;
    z-index: 99999;
  }
  .loading-screen .loading-screen-image-wrapper img {
    padding: 0;
    width: 70%;
    height: 70vh;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  @keyframes slideDownImage {
    from {
      margin-top: 55%;
    }
    to {
      margin-top: 0;
    }
  }
  @keyframes slideUpImage {
    from {
      margin-top: 0;
    }
    to {
      margin-top: 55%;
    }
  }
  .loading-screen .loading-screen-wrapper p {
    width: 380px;
    transform: translateY(0rem);
    color: white;
    font-size: 0.9rem;
    font-family: NeueMontreal-Medium, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
@media only screen and (max-width: 400px) {
  .loading-screen .loading-screen-wrapper p {
    width: 250px;
    transform: translateY(0rem);
    color: white;
    font-size: 0.7rem;
    font-family: NeueMontreal-Medium, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}/*# sourceMappingURL=LoadingScreen.component.css.map */