@font-face {
	font-family: 'NeueMontreal-Light';
	src: url('./fonts/NeueMontreal-Light.otf') format('opentype');
}

@font-face {
	font-family: 'NeueMontreal-Regular';
	src: url('./fonts/NeueMontreal-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'NeueMontreal-Medium';
	src: url('./fonts/NeueMontreal-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'NeueMontreal-Bold';
	src: url('./fonts/NeueMontreal-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Santa';
	src: url('./fonts/santa.otf') format('opentype');
}