@import '../../styles/globalStyles.scss';

.navigation-screen{
	position: absolute;
	z-index: 999;
	width: 99%;
	height: 100vh;
    backdrop-filter: blur(8px);
	transition: all 1s ease forwards;
	// background: $primary-col;
	background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(195,61,158,0.6937149859943977) 33%, rgba(195,61,158,0.8757878151260504) 54%, rgba(187,0,135,1) 100%);

    .nav-screen-wrapper{
		width: 40%;
		position: absolute;
		right: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		// background-color: black;
		 
		  .nav-items{
			height: fit-content;
			margin: auto 10rem 7rem auto;
		  }
	}	
   
}