@import '../../styles/globalStyles.scss';

.navigation-screen{
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.581);
    backdrop-filter: blur(10px);
	// visibility: hidden;
	opacity: 0;
	transition: all .5s ease-in-out;
	// background: $primary-col;
	// background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(195,61,158,0.6937149859943977) 33%, rgba(195,61,158,0.8757878151260504) 54%, rgba(187,0,135,1) 100%);
    //  background: linear-gradient(90deg, $test+'1B' 0%, #BB0087B0 30%, #BB0087EA 55%, #BB0087FF 100%);
    
	.nav-image-wrapper{
       position: absolute;
	   width: fit-content;
	   height: 100%;
	   left: 7rem;
	   display: flex;
	   align-items: center;

		img{
			position: absolute;
			width: 30rem;
			top: 0;
			bottom: 0;
			height: auto;
			margin: auto;
			opacity:0;
			display: block;
			transition: all .5s ease;
			filter:drop-shadow(-16px -16px 10px rgba(65, 65, 65, 0.748));
		}
	}
	
	.nav-screen-wrapper{
		width: 40%;
		position: absolute;
		right: 0;
		height: 100%;
		display: flex;
		padding-right: 5rem;
		flex-direction: column;
		align-items: end;
		// background-color: black;
		  h3{
			width: fit-content;
			margin-top: 6rem;
			margin-right: 0;
			font-size: 2rem;
			cursor: pointer;
		  }
		  .nav-items{
			height: fit-content;
			margin: auto 0rem auto auto;
		  }

		  .bottom-links{
			margin-right: 0;
			display: flex;
			// position: absolute;
			color: $primary-col;	
			  right: 0;
			  bottom: 0;

			p{
		      font-size: 1rem;		
			  cursor: pointer;
			  margin-left: 2rem;
			  margin-bottom: 2rem;	
			}
		  }
	}	
   
}


@media screen and (max-width:780px) {
	.navigation-screen{
	
		.nav-image-wrapper{
	
			img{
			  display: none;
			  opacity: 0;	
			}
		}
	   
	}	
}

@media screen and (max-width:550px) {
	.navigation-screen{
		position: fixed;
		z-index: 999;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.581);
		backdrop-filter: blur(10px);
		// visibility: hidden;
		opacity: 0;
		transition: all .5s ease-in-out;
		// background: $primary-col;
		// background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(195,61,158,0.6937149859943977) 33%, rgba(195,61,158,0.8757878151260504) 54%, rgba(187,0,135,1) 100%);
		//  background: linear-gradient(90deg, $test+'1B' 0%, #BB0087B0 30%, #BB0087EA 55%, #BB0087FF 100%);
		
		.nav-image-wrapper{
		   position: absolute;
		   width: fit-content;
		   height: 100%;
		   left: 7rem;
		   display: flex;
		   align-items: center;
	
			img{
				width: 30rem;
				top: 0;
				bottom: 0;
				height: auto;
				margin: auto;
				opacity:0;
				display: none;
				transition: all .5s ease;
				filter:drop-shadow(-16px -16px 10px rgba(65, 65, 65, 0.748));
			}
		}
		
		.nav-screen-wrapper{
			width: 40%;
			position: absolute;
			right: 0;
			height: 100%;
			display: flex;
			padding-right: 5rem;
			flex-direction: column;
			align-items: end;
			// background-color: black;
			  h3{
				width: fit-content;
				margin-top: 6rem;
				margin-right: 0;
				font-size: 2rem;
				cursor: pointer;
			  }
			  .nav-items{
				height: fit-content;
				margin: auto 0rem auto auto;
			  }
	
			  .bottom-links{
				margin-right: 0;
				display: flex;
				// position: absolute;
				color: $primary-col;	
				  right: 0;
				  bottom: 0;
	
				p{
				  font-size: 1rem;		
				  cursor: pointer;
				  margin-left: 2rem;
				  margin-bottom: 2rem;	
				}
			  }
		}	
	   
	}	
}