.work-page{
    position: relative;
	margin-bottom: 50px;
	h1{
	  font-size: 8rem;	
	  margin: 0;
	  padding: 0;
	}
    .side-image{
	  width: 25rem;	
	  right: -9rem;
	  position: absolute;	
	}
	.detailed-work-section{
		margin-left: 1rem;
		overflow: hidden;
	    opacity: 0;
		transition: all .5s ease-in-out;
		transform: translateY(50px);
		h3{
		   font-size: .9rem;
		   color: #7c7c7c;	
		}

		.work-item-card{
			width: fit-content;
			position: relative;
			padding-top: 55px;
			margin-right: 2rem;
			cursor: pointer;
			// background-color: green;
			 .item-title{
				font-size: .9rem;
				color: #7c7c7c;	
			 }
			 .item-title{
				color: black;
				position: absolute;
				top: 0;
				font-size: 2rem;
				margin: 0;
				left: .4rem;
				bottom: 0;
				height: fit-content;
				// margin-top: 0;
			}
		  .work-item-tile{
			//  position: unset;
			 width: 170px;
			 height: 154px;
			 border-radius: 13px;
			 display: flex;
			 flex-direction: column;
			 align-items: flex-end;
			//  margin-top: 60px;
			//  margin-bottom: 25px;
			//  background-color: blue;
		
			h4{
			//   margin: 0;
			  width: 100px;
			  height: fit-content;
			  color:white;
			  margin-top:auto;	
			  margin-bottom: 1rem;
			  margin-left: 1rem;
			  margin-right: auto;
			  left: 0;
			}
			
		  }	
		  .work-item-tile-image{
			img{
			  width: 250px;
			  height: 150px;
			  object-fit: cover;
			  border-radius: 20px;
			  border:3px solid #4BA74B;
			}
		   }
		}

	   .detailed-heads{
		 display: flex;

		 h2{
		   color:#DE00A0;	
		   margin: 0;	
		   margin-right: .9rem;
		 }
	   }

	   p{
		width: 60%;
		color: gray;
		font-size: .8rem;
	   }
	   .other-p{
		color: black;
	   }

	   .detailed-work-sec-items{
		    width:87%;
            margin-top: 30px;
			margin-right: 20rem;
			display: flex;
			padding-right: 2rem;
			// position: relative;
		    overflow-x: scroll;

			.white-grad-overlay{
              position: fixed;
			  height: 100%;
			  width:5rem;
			  right: 0;
			  padding-right: 3rem;
			  margin-right: 0;
			  z-index: 99;
			//   background: blue;
			  background: linear-gradient(270deg, #EEE 0%, rgba(238, 238, 238, 0.98) 22.92%, rgba(238, 238, 238, 0.83) 46.88%, rgba(238, 238, 238, 0.71) 70.31%, rgba(238, 238, 238, 0.00) 100%);
			//   background: linear-gradient(270deg, #EEE 0%, #EEE 26.04%, rgba(238, 238, 238, 0.10) 62.50%, rgba(238, 238, 238, 0.10) 100%);
			}

			.non-displaying-images{
			   display: none;	
			}
	   }
  }
}

.animate {
    background: linear-gradient(180deg, #13ef29, #476fff);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}

::-webkit-scrollbar {
	width: 3px;
	height: 4px;
	margin-top: 3rem;
	border-radius: 50%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
	margin-top: 2rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 2rem;
	margin-top: 2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	// background: #555;
  }